---
import { Image } from "astro:assets";
import { getLocalizedSettings } from "@/lib/localization-helpers";
import { translatePath, unlocalizedUrl } from "@/lib/localization-helpers";
import { defaultLocale, locales } from "site";

const currentLocale = Astro.currentLocale;

function getTranslatedUrl(locale: string): string {
    const unlocalizedPath = unlocalizedUrl(Astro.url.pathname);
    return translatePath(locale, unlocalizedPath);
}

function isActiveLocale(locale: string): boolean {
    return locale === currentLocale;
}

const { header, contacts } = getLocalizedSettings(currentLocale);
const logoPath = header.logo?.imagePath;
const images = import.meta.glob("/src/assets/global/**/*.{webp,jpeg,jpg,png,gif,svg}") as Record<string, { default: ImageMetadata }>;
---

<style>
    // ... keep all existing menu-icon styles ...
    .menu-icon {
        position: relative;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    .menu-icon .menu-icon__checkbox {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        cursor: pointer;
        z-index: 2;
        -webkit-touch-callout: none;
        position: absolute;
        opacity: 0;
    }
    .menu-icon div {
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 22px;
        height: 12px;
    }
    .menu-icon span {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--bar-bg, #000);
        border-radius: 5rem;
        transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
    }
    .menu-icon span:first-of-type {
        top: 0;
    }
    .menu-icon span:last-of-type {
        bottom: 0;
    }
    .menu-icon.active span:first-of-type,
    .menu-icon .menu-icon__checkbox:checked + div span:first-of-type {
        transform: rotate(45deg);
        top: 5px;
    }
    .menu-icon.active span:last-of-type,
    .menu-icon .menu-icon__checkbox:checked + div span:last-of-type {
        transform: rotate(-45deg);
        bottom: 5px;
    }
    .menu-icon.active:hover span:first-of-type,
    .menu-icon.active:hover span:last-of-type,
    .menu-icon:hover .menu-icon__checkbox:checked + div span:first-of-type,
    .menu-icon:hover .menu-icon__checkbox:checked + div span:last-of-type {
        width: 22px;
    }
    @media (min-width: 1024px) {
        .menu-icon:hover span:first-of-type {
            width: 26px;
        }
        .menu-icon:hover span:last-of-type {
            width: 12px;
        }
    }
    #navigation {
        pointer-events: none;
    }
    [data-nav-border-reveal] {
        --tw-border-opacity: 0;
    }
    .active-locale {
        font-weight: bolder;
    }
</style>

<style is:global>
    [data-nav-text-reveal] {
        opacity: 0;
    }
    [data-nav-text-reveal] > div {
        position: relative;
        margin: 0;
    }
    .split-parent {
        overflow: hidden;
    }
    .split-child {
        display: inline-block;
    }
</style>

<header class="fixed w-full z-30">
    <div class="items-center auto-cols-fr grid-cols-2 lg:grid-cols-2 grid-rows-[auto] justify-between left-0 py-3.5 px-6 lg:px-20 right-0 top-0 grid gap-4">
        <div class="items-center flex-wrap justify-start relative flex text-blue-700 z-20">
            <a href={translatePath(currentLocale ?? defaultLocale, "/")}
               id="header-logo"
               class="text-blue-700 justify-self-start lg:justify-self-center underline inline-block max-w-full">
                <svg viewBox="0 0 1804 1867" width="60" height="60" class="w-12 h-12 lg:w-16 lg:h-16">
                    <!-- Speech Bubble (outer part - fades first) -->
                    <g id="MaskR" class="logo-path-mask">
                        <g transform="matrix(1,0,0,1,0.597705,-4.54747e-13)">
                            <g transform="matrix(5.29346,0,0,5.29346,-808.943,-1598.76)">
                                <path d="M217.22,586.32C214.373,583.533 211.38,580.437 208.24,577.03C159.72,524.42 153.58,444.94 193.85,385.55C233.44,327.16 306.92,302.74 373.6,325.41C443.84,349.3 487.48,419.81 477.37,493.38C467.08,568.27 404.05,624.47 328.74,627.28C308.32,628.04 286.64,626.13 268.04,617.66C267.761,617.537 267.448,617.508 267.15,617.58C253.163,621.087 239.577,624.607 226.39,628.14C214.563,631.307 206.217,633.78 201.35,635.56C200.117,636.013 198.77,635.703 197.31,634.63C193.42,631.76 194.49,628.4 197.07,624.64C203.61,615.093 209.303,605.513 214.15,595.9C215.337,593.54 216.44,590.66 217.46,587.26C217.558,586.927 217.466,586.565 217.22,586.32ZM214.67,619.34C236.877,613.427 253.91,608.987 265.77,606.02C267.723,605.533 269.337,605.583 270.61,606.17C291.11,615.64 314.61,617.2 336.49,615.22C380.18,611.28 419.85,587.33 443.87,550.62C470.29,510.24 474.67,458.9 455.22,414.74C427.72,352.29 360.51,317.76 293.56,331.59C228.5,345.03 180.63,401.71 178.9,468.48C177.88,507.87 193.06,545.79 220.94,573.57C224.88,577.497 226.937,579.533 227.11,579.68C227.518,580.022 227.843,580.453 228.06,580.94C229.36,583.827 229.55,586.9 228.63,590.16C225.77,600.29 220.02,610.21 214.42,619.01C214.397,619.046 214.384,619.087 214.384,619.13C214.384,619.251 214.484,619.35 214.604,619.35C214.627,619.35 214.649,619.347 214.67,619.34Z" style="fill-rule:nonzero;"/>
                            </g>
                        </g>
                    </g>

                    <!-- Text (inner part - fades second) -->
                    <g id="MaskL" class="logo-path-mask">
                        <g transform="matrix(1,0,0,1,0.597705,-4.54747e-13)">
                            <g transform="matrix(5.29346,0,0,5.29346,-808.943,-1598.76)">
                                <path d="M303.12,516.71L281.14,549.5C281.114,549.539 281.084,549.575 281.051,549.608C280.778,549.878 280.334,549.879 280.068,549.609C280.035,549.576 280.005,549.539 279.98,549.5L258.62,516.92C258.555,516.824 258.446,516.766 258.33,516.766C258.14,516.766 257.983,516.92 257.98,517.11L257.98,566.28C257.98,566.472 257.827,566.63 257.64,566.63L234.63,566.63C234.284,566.63 234,566.346 234,566L234,393.29C234,392.972 234.262,392.71 234.58,392.71L258.05,392.71C258.28,392.71 258.47,392.9 258.47,393.13L258.47,427.65C258.47,427.691 258.479,427.732 258.497,427.769C258.565,427.913 258.743,427.973 258.892,427.903C258.929,427.885 258.963,427.86 258.99,427.83L288.55,393.12C288.764,392.861 289.084,392.71 289.42,392.71L317.15,392.71C317.341,392.712 317.496,392.869 317.496,393.06C317.496,393.145 317.466,393.226 317.41,393.29L284.83,430.17C284.618,430.402 284.597,430.754 284.78,431.01L307.72,464.28C307.792,464.391 307.915,464.457 308.047,464.457C308.207,464.457 308.352,464.359 308.41,464.21L338.77,392.61C338.903,392.295 339.211,392.089 339.55,392.09L362.19,392.09C362.438,392.09 362.66,392.237 362.75,392.46L399.08,478.14C399.202,478.437 399.495,478.631 399.82,478.63L416.76,478.63C416.941,478.63 417.09,478.774 417.09,478.95C417.137,501.01 417.12,517.69 417.04,528.99C416.9,549.61 406.32,564.57 385.25,567.55C377.87,568.59 370.74,568.447 363.86,567.12C342.95,563.09 334.77,547.28 334.84,527.24C334.9,512.14 334.88,496.153 334.78,479.28C334.78,478.923 335.073,478.63 335.43,478.63L359.37,478.63C359.546,478.63 359.69,478.77 359.69,478.94C359.677,497.087 359.68,513.357 359.7,527.75C359.71,536.39 363.22,544.74 372.85,546C385.09,547.6 392.21,540.59 392.23,528.5C392.257,514.36 392.26,498.54 392.24,481.04C392.24,480.864 392.091,480.72 391.91,480.72L374.44,480.72C374.21,480.719 374.001,480.581 373.91,480.37L367.51,465.26C367.442,465.102 367.288,464.999 367.12,465L334.08,465C333.777,465.001 333.503,465.183 333.39,465.46L328.09,477.94C327.958,478.263 327.89,478.607 327.89,478.95L327.89,566.21C327.89,566.44 327.7,566.63 327.47,566.63L304.07,566.63C303.779,566.63 303.54,566.391 303.54,566.1L303.54,516.84C303.54,516.84 303.54,516.84 303.54,516.84C303.54,516.713 303.436,516.61 303.31,516.61C303.234,516.61 303.163,516.647 303.12,516.71ZM340.82,445.58C340.807,445.615 340.8,445.652 340.8,445.69C340.8,445.865 340.945,446.01 341.12,446.01L359.97,446.05C359.971,446.05 359.972,446.05 359.973,446.05C360.149,446.05 360.293,445.906 360.293,445.73C360.293,445.689 360.285,445.648 360.27,445.61L350.89,421.76C350.844,421.635 350.723,421.551 350.59,421.551C350.457,421.551 350.336,421.635 350.29,421.76L340.82,445.58ZM280.66,512.26C280.722,512.349 280.823,512.403 280.932,512.403C281.044,512.403 281.149,512.345 281.21,512.25L300.43,481.2C300.461,481.149 300.477,481.09 300.477,481.03C300.477,480.85 300.33,480.702 300.15,480.7L289.43,480.7C289.317,480.701 289.211,480.644 289.15,480.55L267.86,448.08C267.8,447.984 267.694,447.925 267.58,447.925C267.484,447.925 267.393,447.967 267.33,448.04L258.56,457.98C258.51,458.038 258.481,458.113 258.48,458.19L258.48,478.35C258.479,478.414 258.496,478.476 258.53,478.53L280.66,512.26Z" style="fill-rule:nonzero;"/>
                            </g>
                        </g>
                    </g>

                    <!-- Red Dot (fades with inner text) -->
                    <g id="MaskDot" class="logo-path-mask">
                        <g transform="matrix(1,0,0,1,0.597705,-4.54747e-13)">
                            <g transform="matrix(5.29346,0,0,5.29346,-808.943,-1598.76)">
                                <circle cx="407.38" cy="435.72" r="15.97" style="fill:rgb(210,35,42);"/>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
        </div>

        <!-- Keep existing header content -->
        <div class="col-start-2 hidden lg:flex justify-center items-center h-full">
            <a data-company-name class="pb-4 group" href={translatePath(currentLocale ?? defaultLocale, "/")}>
                <div class="w-20 h-1 bg-slate-200 rounded-full group-hover:bg-slate-600 transition-colors duration-500"></div>
            </a>
        </div>

        <!-- Keep existing menu button -->
        <div class="justify-self-end col-span-1 row-span-1 z-40 col-start-3">
            <div class="items-center justify-center relative flex h-16 lg:w-24 lg:h-24">
                <div class="menu-icon">
                    <input id="menu-toggle" class="menu-icon__checkbox" type="checkbox"/>
                    <div>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Keep existing navigation -->
    <nav id="navigation" class="items-center bottom-0 text-sm font-medium justify-center left-0 fixed right-0 top-0 flex h-screen z-30">
        <!-- Keep existing nav content -->
        <div id="navigation-background" class="bg-white w-full h-full absolute top-0 left-0 opacity-0"></div>
        <div class="items-center font-semibold flex-wrap justify-center flex flex-col overflow-hidden z-20 w-full">
            <div class="flex flex-col items-start md:items-center pt-10">
                {
                    header.pages.map((page, index) => (
                        <a data-nav-item
                           href={translatePath(currentLocale ?? defaultLocale, page.link)}
                           class="items-center justify-start flex overflow-hidden gap-4 relative pr-10">
                            <div data-nav-border-reveal
                                 data-nav-text-reveal
                                 class="text-black items-center cursor-pointer justify-center pt-1 flex w-9 h-9 border-2 border-black border-solid rounded-full">
                                0{index + 1}
                            </div>
                            <div data-nav-text-reveal
                                 class="cursor-pointer overflow-hidden text-4xl xs:text-5xl md:text-[5.63rem] !leading-[1.15] text-black">
                                {page.title}
                            </div>
                        </a>
                    ))
                }
                <div class="flex gap-8 pt-10 pl-16 md:pl-0">
                    {
                        locales.map((locale) => (
                            <a href={getTranslatedUrl(locale)}
                               class:list={[
                                   "items-center justify-start flex overflow-hidden gap-4 relative cursor-pointer",
                                   isActiveLocale(locale) && "active-locale",
                               ]}>
                                <span data-nav-text-reveal
                                      class="overflow-hidden text-md xs:text-lg md:text-xl !leading-[1.15] text-black">
                                    <span>{locale}</span>
                                </span>
                            </a>
                        ))
                    }
                </div>
            </div>
        </div>
    </nav>
</header>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import { BlurPlugin } from "@/utils/gsap-blur";
    import { LifecycleManager } from "@/utils/lifecycle-manager";

    gsap.registerPlugin(ScrollTrigger, BlurPlugin);

    const lm = new LifecycleManager();

    lm.onElementLoaded("navigation", (ctx) => {
        ctx?.add(() => {
            // Logo fade animation with staggered timing
            gsap.timeline({
                defaults: {
                    ease: "power1.inOut",
                    stagger: 0.2,
                },
                scrollTrigger: {
                    trigger: "body",
                    start: "50px",
                    toggleActions: "play none none reverse",
                },
            })
            .to("[data-company-name]", { opacity: 0 })
            .to("#MaskR", { opacity: 0 }, "<") // Speech bubble fades first
            .to("#MaskL, #MaskDot", { opacity: 0 }, ">-0.1") // Text and dot fade slightly after

            .set("#header-logo", { pointerEvents: "none" });

            // Navigation menu animation
            const tl = gsap.timeline({
                paused: true,
                defaults: {
                    duration: 1,
                    ease: "power3.out",
                },
            });

            tl.set("#navigation", { pointerEvents: "auto" })
              .to("#navigation-background", { opacity: 1 }, "<")
              .to("[data-nav-text-reveal]", { opacity: 1, duration: 0.5, ease: "none" }, "<=0.5");

            // Menu item hover effects
            const menuItems = gsap.utils.toArray("[data-nav-item]") as HTMLElement[];

            menuItems.forEach((menuItem) => {
                const menuItemTl = gsap.timeline({
                    defaults: { duration: 0.4, ease: "none" },
                    paused: true,
                })
                .to(menuItem, { blur: 2 })
                .to(menuItem, { blur: 1 });

                menuItem.addEventListener("mouseenter", () => menuItemTl.play());
                menuItem.addEventListener("mouseleave", () => menuItemTl.pause(0));
            });

            // Menu toggle handler
            const menuToggle = document.getElementById("menu-toggle");
            menuToggle?.addEventListener("change", function() {
                if ((this as HTMLInputElement).checked) {
                    tl.play();
                } else {
                    tl.reverse();
                }
            });
        });
    });
</script>
